h2 {
  color: #dcf2f1;
}

.container {
  background-color: #1d2b53;
  height: 100%;
  position: fixed;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pressable {
  width: 130px;
  height: 60px;
  border: 1px solid #176b87;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #dcf2f1;
  background-color: transparent;
  margin-top: 10px;
}
.pressableActive {
  width: 130px;
  height: 60px;
  border: 1px solid #176b87;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #1d2b53;
  background-color: #7fc7d9;
  margin-top: 10px;
}

.ctnBtn {
  display: flex;
  flex-direction: column;
}


.pressable:hover {
  background-color: #7fc7d9;
  color: #1d2b53;
}
